codex.syrian.zone {
    root * /run/media/hadi/SSD2/Coding/codex/public
    encode gzip
    php_fastcgi unix//run/php/php8.3-fpm.sock
    file_server
    
    @static {
        file
        path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2
    }
    header @static Cache-Control max-age=5184000

    log {
        output file /var/log/caddy/codex.access.log
    }
}
